div {
	color:#333;
	font-family:sans-serif;
}

/* Everything inside SVG canvas */
#Raphael {
	font-size:0.8em;
}

/* Menu bar */
#menubar {
	height:3em;
	margin-top:-8px; /* No space above menubar */
	background:#888;
	color:#FFF;
	font-size:0.8em;
}
#menubar ul {
	margin:0;
	height:2em;
	padding:0.5em;
}
#menubar li {
	display:inline;
	border-right:1px solid #AAA;
	padding-left:1em;
	padding-right:1em;
}
#menubar input { /* Search box */
	width:20em;
	padding-left:0.5em;
}
.ui-state-focus, /* Search box */
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border:1px solid #b8b8bf;
	background:#e8e8ef;
	color:#000;
}
#menubar a { /* Override default link colour and style */
	text-decoration:none;
	color:#FFF;
}
#menubar .active {
	text-decoration:underline;
	font-weight:bold;
}
#menubar img {
	border:none;
}
#menubar #title {
	font-size:1.3em;
	margin-left:1em;
}

/* Chewybox */
#chewy {
	float:right;
	margin-top:-6px;
	font-size:0.8em;
}
#chewy img {
	width:2.8em;
	height:2.8em;
}

/* Tooltip */
#tooltip {
	z-index:9999;
	border:solid 1px rgba(210,220,220,0.9);
	border-radius:4px;
	background-color:rgba(220,230,230,0.9);
	font-size:1em;
}

/* Narrator */
#narrator {
	z-index:9998;
	border:solid 1px rgba(220,230,230,0.9);
	border-radius:4px;
	background-color:rgba(230,240,240,0.9);
	font-size:1em;
}
#narrator #nav {
	font-weight:bold;
}
#narrator #nav a {
	color:#336;
	text-decoration:none;
}
#narrator #nav a:hover {
	text-decoration:underline;
}
#narrator #nav #prev {
	margin-top:0.5em;
	float:left;
}
#narrator #nav #next {
	margin-top:0.5em;
	float:right;
}
#narrator #nav #middle {
	text-align:center;
}

/* Breadcrumb */
#breadcrumb a {
	text-decoration:none;
	color:#333;
}
#breadcrumb a:hover {
	text-decoration:underline;
	color:#333;
}