a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

div {
	font-family:sans-serif;
	color:#333;
	font-size:0.9em;
}
div a {
	color:#366;
}
div a:hover {
	color:#399;
}

#menubar {
	background:#366;
	font:0.8em sans-serif;
	margin-top:-12px;
	margin-bottom:-12px;
}
#menubar a {
	color:#FFF;
}
#menubar ul {
	padding-top:6px;
	padding-bottom:6px;
}
#menubar li {
	display:inline;
}
#menubar img {
	margin-right:40px;
	margin-bottom:-8px;
}
#menubar input {
	padding-right:25px;
	padding-left:8px;
	margin-bottom:6px;
}
#menubar a {
	font-size:0.8em;
	float:right;
	padding-top:10px;
	padding-right:10px;
}

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border:1px solid #b8b8bf;
	background:#e8e8ef;
	color:#000;
}